/*all browsers*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body, html {
    width: 100%;
    background-color:white;
  }

.calculator {
    height: 351px;
    width: 249px;
    border : solid 3px grey;
    display: block;
    text-align: center;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10);
}

.row {
    display: block;
}

.row button.tall {
    height: 60px;
    border-radius: 9%;
}

.row button .btn-warning{
    color: firebrick;
    font-weight: 600;
}

.row button {
    width: 39px;
    height: 30px;
    border: 1px solid green;
    margin-bottom :1px;
    border-radius: 15%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10);
    }

.row button:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.10);
}

.row button:active{
    background-color: darkgrey;
    box-shadow: inset 0 6px 12px 0 white, 0 9px 15px 0 whitesmoke;
}

input{
    border-bottom: 3px;
    margin-bottom: 18px;
}

div.calculator div.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 12px;
}

div.calculator div.type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 6px;
}

