/*all browsers*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  body, html {
    width: 100%;
    background-color:beige;
  }

.calculator {
    height: 351px;
    width: 249px;
    background-color:lightgrey;
    border : solid 3px rgb(215, 215, 215);
    display: block;
    text-align: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10);
    box-shadow: inset 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10)
}

.row {
    display: block;
}

.row button.tall {
    height: 60px;
    border-radius: 9%;
    float: right;
    margin-top: 0.3%;
    margin-right: 19%;
    margin-left:  -17%;
}

.row button .btn-warning{
    color: firebrick;
    font-weight: 600;
}

.row button {
    width: 39px;
    height: 30px;
    border: 1.5px solid rgb(150, 150, 150);
    margin-bottom :1px;
    border-radius: 15%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2), 0 3px 9px 0 rgba(0,0,0,0.10)
    }

.row button:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.10);
}

.row button:active{
    background-color: rgb(180, 180, 180);
    box-shadow: inset 0 3px 3px 0 rgb(215, 215, 215), 0 3px 3px 0 rgb(120, 120, 120);
    opacity: 3;
}

input{
    height: 27px;
    width: 210px;
    border-bottom: 3px;
    margin-bottom: 18px;
    text-align: right;
    font-weight: 600;
    font-size: 21px;
}

.error{
    background-color: rgb(173, 25, 14);
    color: (120, 120, 120);
}

div.calculator div.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(221, 221, 221);
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 12px;
}

div.calculator div.type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(180, 180, 180);
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 6px;
}

